<article class="table-header">

  
<!-- 
  <button class="button-add-row"  mat-raised-button color="accent" >Adicionar Codigo</button>

  Solo mock, CRUD no funciona! -->

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="001" #input>
    </mat-form-field>
  </article>

<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      {{ col.label }}
    </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.key">

          <span *ngSwitchCase="'code'">
            {{ element[col.key] }}***      
          </span>
         
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>

        </div>


        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
   
<!-- 
          <span *ngSwitchCase="'isEdit'">
         

            <button mat-raised-button color="primary"  >Editar</button>
          </span>

          
          <span *ngSwitchCase="'isDelete'">
         

            <button mat-raised-button color="warn"  >Eliminar</button>
          </span>
 -->

                   <!-- <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span> -->
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
